# Data Modeling

## Registration database

## Modeling a Registration Database

* It is registration time, and the registration process is driven by the online registration system
* Lets think about this and develop a data model for registration
* We'll use Logical Data Structure (LDS) for modeling


1. What are the main entities involved?
1. Ask the question "what do we want to remember about each entity?"
1. How do we uniquely identify each entity?
1. For each attribute, are there other things we want to remember? 

    1. If so, then promote that attribute to an entity
    1. What are the relationships between these entities?

# Data Model: Entities

Here is one version of the model. This one has entities only, without any relationships.

![](registrationdb_entities.png)

# Data Model: Relationships

Here is a version of the model with realtionships. **Notice that there are several many-many relationships**  These relationships need to be further evolved, but we will keep them this way for now.

![](registrationdb_relationships.png)

# Data Model: Converting to a Database

* We will use SQL Data Definition Language (DDL) to create a table

* Full documentation is here:
  * [PostgreSQL 9.4](https://www.postgresql.org/docs/9.4/static/sql-createtable.html)
  * [Latest PostgreSQL](https://www.postgresql.org/docs/current/static/sql-createtable.html)

* More than you want to know at the moment

* Give the table a name
  * Singular noun

* Describe each column (field) with a name and a data type
  * integer
  * real - float
  * text - varchar
  * date 
  
* Describe any constraints
  * One important constraint is to identify the primary key

# SQL: Connecting to Your Database

1. Load sql module in the notebook: `%load_ext sql`

1. Connect to **your** database: `postgresql://yasiro01:@localhost/yasiro01`
  * Replace *yasiro01* with your name both as a user and a database name

In [1]:
import warnings
warnings.filterwarnings('ignore')

%load_ext sql

In [2]:
%%sql 

postgresql://yasiro01:@localhost/yasiro01

'Connected: yasiro01@yasiro01'

# SQL: Data Manipulation

* **C**reate
* **R**ead
* **U**pdate
* **D**elete

# SQL: Database Structure Manipulation

SQL can be used to create both the database structure and data inside.

In [16]:
%%sql

drop table if exists student;

create table student (
    username varchar(8),
    name_first varchar(50),
    name_last varchar(50),
    dob date,
    
    constraint s_id_pk primary key(username)
);

Done.
Done.

[]

# SQL: Medatada

Each table hold description of the data (metadata) in its *INFORMATION_SCHEMA.COLUMNS*. Some metadata fields are:

* table_name

* column_name

* is_nullable

* character_maximum_length

* is_updatable

In [11]:
%%sql

select column_name, data_type, character_maximum_length
from INFORMATION_SCHEMA.COLUMNS
where table_name = 'student';

4 rows affected.

[('username', 'character varying', 8),
 ('name_first', 'character varying', 50),
 ('name_last', 'character varying', 50),
 ('dob', 'date', None)]

# SQL: Create

SQL has another clause, `INSERT`, to add **data** to a database

    insert into table (column_1, column_2, ..., column_n) values(value_1, value_2, ..., value_n);
    
The list of columns is optional. If it is not given then value_1, value_2, etc. must be in the order they appear in the create table statement. If you give the column list then the columns and values must be in the same order.

If you do not give a column its value, it will be null or the default value you specify.

In [19]:
%%sql

insert into student (username, name_first, name_last) values ('pottha01', 'Harry', 'Potter');

IntegrityError: (psycopg2.IntegrityError) duplicate key value violates unique constraint "s_id_pk"
DETAIL:  Key (username)=(pottha01) already exists.
 [SQL: "insert into student (username, name_first, name_last) values ('pottha01', 'Harry', 'Potter');"] (Background on this error at: http://sqlalche.me/e/gkpj)

In [21]:
%%sql

insert into student values('granhe03', 'Hermione', 'Granger', '2018-04-11')

1 rows affected.

[]

In [22]:
%%sql

select *
from student;

2 rows affected.

[('pottha01', 'Harry', 'Potter', None),
 ('granhe03', 'Hermione', 'Granger', datetime.date(2018, 4, 11))]

In [ ]:
%%sql

# SQL: Read

Use `SELECT` clause to read (retrieve) data from the database.

In [ ]:
%%sql

# SQL: Conditional Read

In [23]:
%%sql

select *
from student
where name_first = 'Harry'

1 rows affected.

[('pottha01', 'Harry', 'Potter', None)]

# SQL: Update

Use `UPDATE` clause to update (change) data in the database.

In [24]:
%%sql

update student
set dob = '04/04/2016';

2 rows affected.

[]

In [25]:
%%sql

select *
from student

2 rows affected.

[('pottha01', 'Harry', 'Potter', datetime.date(2016, 4, 4)),
 ('granhe03', 'Hermione', 'Granger', datetime.date(2016, 4, 4))]

# SQL: Conditional Update

Populate the database first

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

# SQL: Delete

Use `DELETE` clause to delete (remove) data from the database.

In [ ]:
%%sql

In [ ]:
%%sql

# SQL: Conditional Delete

Populate the database first

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql