# Grouping and Aggregation Using SQL

## Review of SQL clauses

* SELECT \* | col1 [, col2, ...]  -- corresponds to **project**
* FROM table [, table, ...]
* WHERE condition [AND|OR condition]   -- corresponds to **query**
* ORDER BY column [,column, ...] [DESC] -- corresponds to **sort**
* LIMIT numrows  -- corresponds to **head**

`GROUP BY` clause

* Comes after WHERE

* List the column or columns to squash
    * The aggregate **operator** goes in the select clause
    * The groupby column **MUST** appear in the select clause as well

* NO other columns can be added, does not make sense!
    * Which rows would you keep?

* Valid aggregates in SQL
    * count(*)
    * avg
    * min
    * max
    * sum

In [1]:
# all of your notebooks and homework using SQL are going to start something like this
import warnings
warnings.filterwarnings('ignore')

%load_ext sql

In [2]:
%%sql

postgresql://yasiro01:@localhost/world

'Connected: yasiro01@world'

## How many countries are in each region?

In [9]:
%%sql

select region, count(*) as number
from country
group by region
order by number desc;

25 rows affected.

[('Caribbean', 24),
 ('Eastern Africa', 20),
 ('Middle East', 18),
 ('Western Africa', 17),
 ('Southern Europe', 15),
 ('Southern and Central Asia', 14),
 ('South America', 14),
 ('Southeast Asia', 11),
 ('Polynesia', 10),
 ('Eastern Europe', 10),
 ('Western Europe', 9),
 ('Central Africa', 9),
 ('Eastern Asia', 8),
 ('Central America', 8),
 ('Northern Africa', 7),
 ('Nordic Countries', 7),
 ('Micronesia', 7),
 ('Melanesia', 5),
 ('Australia and New Zealand', 5),
 ('North America', 5),
 ('Antarctica', 5),
 ('Southern Africa', 5),
 ('Baltic Countries', 3),
 ('British Islands', 2),
 ('Micronesia/Caribbean', 1)]

In [13]:
%%sql

select continent, region, count(*) as number
from country
group by continent, region
order by continent, number desc;

25 rows affected.

[('Africa', 'Eastern Africa', 20),
 ('Africa', 'Western Africa', 17),
 ('Africa', 'Central Africa', 9),
 ('Africa', 'Northern Africa', 7),
 ('Africa', 'Southern Africa', 5),
 ('Antarctica', 'Antarctica', 5),
 ('Asia', 'Middle East', 18),
 ('Asia', 'Southern and Central Asia', 14),
 ('Asia', 'Southeast Asia', 11),
 ('Asia', 'Eastern Asia', 8),
 ('Europe', 'Southern Europe', 15),
 ('Europe', 'Eastern Europe', 10),
 ('Europe', 'Western Europe', 9),
 ('Europe', 'Nordic Countries', 7),
 ('Europe', 'Baltic Countries', 3),
 ('Europe', 'British Islands', 2),
 ('North America', 'Caribbean', 24),
 ('North America', 'Central America', 8),
 ('North America', 'North America', 5),
 ('Oceania', 'Polynesia', 10),
 ('Oceania', 'Micronesia', 7),
 ('Oceania', 'Australia and New Zealand', 5),
 ('Oceania', 'Melanesia', 5),
 ('Oceania', 'Micronesia/Caribbean', 1),
 ('South America', 'South America', 14)]

## What is the average life expectancy for each continent

In [17]:
%%sql

select continent, avg(lifeexpectancy) as mean_life
from country
group by continent
order by mean_life desc

7 rows affected.

[('North America', 72.991891706312),
 ('Europe', 71.8804351143215),
 ('Asia', 67.4411767697802),
 ('South America', 65.878570829119),
 ('Africa', 51.6655170835298),
 ('Oceania', 49.7964289528983),
 ('Antarctica', 0.0)]

## Why the discrepancy?

In [20]:
from reframe import Relation
country = Relation('/home/faculty/yasiro01/pub/country.csv', sep='|')

In [23]:
country.groupby(['continent']).mean('lifeexpectancy').sort(['mean_lifeexpectancy'], ascending=False)

       continent  mean_lifeexpectancy
3         Europe            75.147727
4  North America            72.991892
6  South America            70.946154
5        Oceania            69.715000
2           Asia            67.441176
0         Africa            52.571930
1     Antarctica                  NaN

In [24]:
%%sql

select continent, avg(lifeexpectancy) as mean_life
from country
where lifeexpectancy > 0
group by continent

order by mean_life desc

6 rows affected.

[('Europe', 75.1477276195179),
 ('North America', 72.991891706312),
 ('South America', 70.9461532005897),
 ('Oceania', 69.7150005340576),
 ('Asia', 67.4411767697802),
 ('Africa', 52.5719296639426)]

In [27]:
%%sql

select continent, name
from country
where lifeexpectancy = 0
order by continent

17 rows affected.

[('Africa', 'British Indian Ocean Territory'),
 ('Antarctica', 'South Georgia and the South Sandwich Islands'),
 ('Antarctica', 'Heard Island and McDonald Islands'),
 ('Antarctica', 'French Southern territories'),
 ('Antarctica', 'Antarctica'),
 ('Antarctica', 'Bouvet Island'),
 ('Europe', 'Holy See (Vatican City State)'),
 ('Europe', 'Svalbard and Jan Mayen'),
 ('Oceania', 'Norfolk Island'),
 ('Oceania', 'Niue'),
 ('Oceania', 'Pitcairn'),
 ('Oceania', 'Tokelau'),
 ('Oceania', 'Wallis and Futuna'),
 ('Oceania', 'United States Minor Outlying Islands'),
 ('Oceania', 'Christmas Island'),
 ('Oceania', 'Cocos (Keeling) Islands'),
 ('South America', 'Falkland Islands')]

## What is the max gnp for any country in each region?

In [29]:
%%sql

select region, max(gnp)
from country
group by region
order by region

25 rows affected.

[('Antarctica', Decimal('0.00')),
 ('Australia and New Zealand', Decimal('351182.00')),
 ('Baltic Countries', Decimal('10692.00')),
 ('British Islands', Decimal('1378330.00')),
 ('Caribbean', Decimal('34100.00')),
 ('Central Africa', Decimal('9174.00')),
 ('Central America', Decimal('414972.00')),
 ('Eastern Africa', Decimal('9217.00')),
 ('Eastern Asia', Decimal('3787042.00')),
 ('Eastern Europe', Decimal('276608.00')),
 ('Melanesia', Decimal('4988.00')),
 ('Micronesia', Decimal('1197.00')),
 ('Micronesia/Caribbean', Decimal('0.00')),
 ('Middle East', Decimal('210721.00')),
 ('Nordic Countries', Decimal('226492.00')),
 ('North America', Decimal('8510700.00')),
 ('Northern Africa', Decimal('82710.00')),
 ('Polynesia', Decimal('818.00')),
 ('South America', Decimal('776739.00')),
 ('Southeast Asia', Decimal('180375.00')),
 ('Southern Africa', Decimal('116729.00')),
 ('Southern and Central Asia', Decimal('447114.00')),
 ('Southern Europe', Decimal('1161755.00')),
 ('Western Africa', Decimal('65707.00')),
 ('Western Europe', Decimal('2133367.00'))]

## List continents by their surface area

In [31]:
%%sql

select continent, sum(surfacearea)
from country
group by continent
order by sum desc

7 rows affected.

[('Asia', 31881000.0),
 ('Africa', 30250400.0),
 ('North America', 24214500.0),
 ('Europe', 23049100.0),
 ('South America', 17864900.0),
 ('Antarctica', 13132100.0),
 ('Oceania', 8564290.0)]

## List continents by their population density

In [34]:
%%sql

select continent, sum(population) as pop, sum(surfacearea) as land, sum(population)/sum(surfacearea) as dens
from country
group by continent
order by dens desc

7 rows affected.

[('Asia', 3705025700, 31881000.0, 116.214210192377),
 ('Europe', 730074600, 23049100.0, 31.6747084727782),
 ('Africa', 784475000, 30250400.0, 25.932740657387),
 ('North America', 482993000, 24214500.0, 19.9464601169086),
 ('South America', 345780000, 17864900.0, 19.3552417339717),
 ('Oceania', 30401150, 8564290.0, 3.54975553151258),
 ('Antarctica', 0, 13132100.0, 0.0)]

## What is the most popular form of government in Europe?

In [43]:
%%sql

select governmentform, count(*)
from country
where continent = 'Europe'
group by governmentform
order by count desc

10 rows affected.

[('Republic', 25),
 ('Constitutional Monarchy', 9),
 ('Federal Republic', 5),
 ('Constitutional Monarchy, Federation', 1),
 ('Independent Church State', 1),
 ('Dependent Territory of Norway', 1),
 ('Parliamentary Coprincipality', 1),
 ('Part of Denmark', 1),
 ('Federation', 1),
 ('Dependent Territory of the UK', 1)]

## What is the most popular form of government in Europe with more than 2 countries?

In [47]:
%%sql

select governmentform, count(*)
from country
where continent = 'Europe'
group by governmentform
having count(*) > 1
order by count desc

3 rows affected.

[('Republic', 25), ('Constitutional Monarchy', 9), ('Federal Republic', 5)]

# SQL: Order of Clauses

The lexical (syntactical) order of SQL operations (clauses) **does not** correspond at all to the logical order of operations.

Read [A Beginnerâ€™s Guide to the True Order of SQL Operations](https://blog.jooq.org/2016/12/09/a-beginners-guide-to-the-true-order-of-sql-operations/) for details.

Logical order of SQL operations

1. FROM

1. WHERE

1. GROUP BY

1. AGGREGATION FUNCTION

1. HAVING

1. SELECT

1. DISTINCT

1. ORDER BY

1. LIMIT