# Turning Data Into Information

* At the heart of the big data revolution
* A very liberal arts thing to do - Requires problem solving, **and** communication
* Requires more than just a passing skill at querying the database

# Introduce Data Modeling

* Key tool for communication
* Describes the schema of the data -- the type or kinds of data, not the data itself

| City |
|---|
| id |
| name |
| countrycode |
| district |
| population |

| Country |
|---|
| code |
| name |
| continent |
| region |
| surfacearea |
| indepyear |
| population |
| lifeexpectancy |
| gnp |
| gnpold |
| localname |
| governmentform |
| headofstate |
| capital |
| code2 |

# Introduce Data Modeling

* Describes relationships between things

Country **has** City as a capital

City **has** countrycode

# Relational Algebra

## Key Terms

* Relation

* Tuple

  * A single row/record of a relation

* Operators

* Single-relation

  * Project
  * Select
  * Sort
  * Rename
  * Extend
  * Groupby

* Two-relation

  * Product
  * Union
  * Join
  * Semijoin
  * Antijoin
  * Outer join

**The result of applying an operator to a relation is another relation**

[Luther JupyterHub](https://knuth.luther.edu:8443)

# A Relation with Country DataÂ¶

In [ ]:
from reframe import Relation
    
country = Relation('/home/LC/yasiro01/pub/country.csv', sep='|')

`country` is an object of type **Relation** that holds all the data from the *country.csv* file

# Relational Algebra: Limit the Output

Operation `head` limits the output. By default it's 5 tuples, but that number can be changed.

Specify number of tuples to view (default 5)

Use `tail` to see the last tuples.

# Relational Algebra: Project

List the fields to display in brackets.

# Relational Algebra: Query

# Relational Algebra: Pipes

# Relational Algebra: Sort

# SQL: Structured Query Language

# SQL

SQL is the language of database management systems
Database Management System (DBMS) provides:

* efficient
* reliable
* convenient
* safe
* multi-user

storage of and access to massive amounts of persistent data

Many Database management systems are built on the relational model

* Postgresql, MySQL, SQLLITE

Relation == Table

Tuple == Row

# Using SQL Magic in Jupyter Notebooks

* Run the cell with a single directive `%load_ext sql` to load sql extension.

* Every cell with SQL code must start with either `%sql` (for a one-liner) or `%%sql` (the whole cell is treated as SQL)

* You need to connect to a database: `postgres://username@localhost/dbname`
  * Password is optional: `postgres://username:password@localhost/dbname`
  * By default dbname is the same as your username

In [ ]:
%load_ext sql

In [ ]:
%sql postgres://yasiro01@localhost/world

# SQL: Select

In [ ]:
%%sql

# SQL: Basic Syntax

* Trailing semicolon is optional
* It's recommended to start each clause on a new line

In [ ]:
%%sql

In [ ]:
%%sql

# Relational Algebra vs SQL

Relational Allgebra operations and SQL queries allow you to retrieve data. The results are similar.

In [ ]:
%%sql

In [ ]:
%%sql

# SQL: Ordering

In [ ]:
%%sql

In [ ]:
%%sql

# SQL: Ordering

* Query results can be sorted in ascending (default, asc) or descending (desc) order

* You can order by multiple fields

## Select all countries and territories under the rule of Queen Beatrix

In [ ]:
%%sql

In [ ]:
%%sql

# SQL: The Oldest Country in the World

In [ ]:
%%sql

# SQL: The Newest Country in the World

In [ ]:
%%sql