In [1]:
from notebook.services.config import ConfigManager
cm = ConfigManager()
cm.update('livereveal', {
              'theme': 'solarized',
              'transition': 'zoom',
              'start_slideshow_at': 'selected',
})

import warnings
warnings.filterwarnings('ignore')

# Turning Data Into Information

* At the heart of the big data revolution
* A very liberal arts thing to do -- Requires problem solving, **and** communication
* Requires more than just a passing skill at querying the database

# Introduce Data Modeling

* Key tool for communication
* Describes the schema of the data -- the type or kinds of data, not the data itself

| City |
|---|
| id |
| name |
| countrycode |
| district |
| population |

| Country |
|---|
| code |
| name |
| continent |
| region |
| surfacearea |
| indepyear |
| population |
| lifeexpectancy |
| gnp |
| gnpold |
| localname |
| governmentform |
| headofstate |
| capital |
| code2 |

# Introduce Data Modeling

* Describes relationships between things

Country **has** City as a capital

City **has** countrycode

# Relational Algebra

## Key Terms

* Relation

* Tuple

  * A single row/record of a relation

* Operators

* Single-relation

  * Project
  * Select
  * Sort
  * Rename
  * Extend
  * Groupby

* Two-relation

  * Product
  * Union
  * Join
  * Semijoin
  * Antijoin
  * Outer join

**The result of applying an operator to a relation is another relation**

[Luther JupyterHub](https://knuth.luther.edu:8443)

# A Relation with Country Data¶

Make new terminal and execute the following commands

`mkdir cs140-notes`

`cd cs140-notes`

`cp /home/faculty/yasiro01/pub/city.csv .`

`cp /home/faculty/yasiro01/pub/country.csv .`

`logout`

In [2]:
from reframe import Relation
    
country = Relation('country.csv', sep='|')

In [3]:
country

,code,name,continent,region,surfacearea,indepyear,population,lifeexpectancy,gnp,gnpold,localname,governmentform,headofstate,capital,code2
0,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
1,NLD,Netherlands,Europe,Western Europe,41526.0,1581.0,15864000,78.3,371362.0,360478.0,Nederland,Constitutional Monarchy,Beatrix,5.0,NL
2,ANT,Netherlands Antilles,North America,Caribbean,800.0,NaN,217000,74.7,1941.0,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Beatrix,33.0,AN
3,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqipëria,Republic,Rexhep Mejdani,34.0,AL
4,DZA,Algeria,Africa,Northern Africa,2381740.0,1962.0,31471000,69.7,49982.0,46966.0,Al-Jazair/Algérie,Republic,Abdelaziz Bouteflika,35.0,DZ
5,ASM,American Samoa,Oceania,Polynesia,199.0,NaN,68000,75.1,334.0,NaN,Amerika Samoa,US Territory,George W. Bush,54.0,AS
6,AND,Andorra,Europe,Southern Europe,468.0,1278.0,78000,83.5,1630.0,NaN,Andorra,Parliamentary Coprincipality,NaN,55.0,AD
7,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,José Eduardo dos Santos,56.0,AO
8,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62.0,AI
9,ATG,Antigua and Barbuda,North America,Caribbean,442.0,1981.0,68000,70.5,612.0,584.0,Antigua and Barbuda,Constitutional Monarchy,Elisabeth II,63.0,AG
10,ARE,United Arab Emirates,Asia,Middle East,83600.0,1971.0,2441000,74.1,37966.0,36846.0,Al-Imarat al-´Arabiya al-Muttahida,Emirate Federation,Zayid bin Sultan al-Nahayan,65.0,AE
11,ARG,Argentina,South America,South America,2780400.0,1816.0,37032000,75.1,340238.0,323310.0,Argentina,Federal Republic,Fernando de la Rúa,69.0,AR
12,ARM,Armenia,Asia,Middle East,29800.0,1991.0,3520000,66.4,1813.0,1627.0,Hajastan,Republic,Robert Kotarjan,126.0,AM
13,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,AW
14,AUS,Australia,Oceania,Australia and New Zealand,7741220.0,1901.0,18886000,79.8,351182.0,392911.0,Australia,"Constitutional Monarchy, Federation",Elisabeth II,135.0,AU
15,AZE,Azerbaijan,Asia,Middle East,86600.0,1991.0,7734000,62.9,4127.0,4100.0,Azärbaycan,Federal Republic,Heydär Äliyev,144.0,AZ
16,BHS,Bahamas,North America,Caribbean,13878.0,1973.0,307000,71.1,3527.0,3347.0,The Bahamas,Constitutional Monarchy,Elisabeth II,148.0,BS
17,BHR,Bahrain,Asia,Middle East,694.0,1971.0,617000,73.0,6366.0,6097.0,Al-Bahrayn,Monarchy (Emirate),Hamad ibn Isa al-Khalifa,149.0,BH
18,BGD,Bangladesh,Asia,Southern and Central Asia,143998.0,1971.0,129155000,60.2,32852.0,31966.0,Bangladesh,Republic,Shahabuddin Ahmad,150.0,BD
19,BRB,Barbados,North America,Caribbean,430.0,1966.0,270000,73.0,2223.0,2186.0,Barbados,Constitutional Monarchy,Elisabeth II,174.0,BB
20,BEL,Belgium,Europe,Western Europe,30518.0,1830.0,10239000,77.8,249704.0,243948.0,België/Belgique,"Constitutional Monarchy, Federation",Albert II,179.0,BE
21,BLZ,Belize,North America,Central America,22696.0,1981.0,241000,70.9,630.0,616.0,Belize,Constitutional Monarchy,Elisabeth II,185.0,BZ
22,BEN,Benin,Africa,Western Africa,112622.0,1960.0,6097000,50.2,2357.0,2141.0,Bénin,Republic,Mathieu Kérékou,187.0,BJ
23,BMU,Bermuda,North America,North America,53.0,NaN,65000,76.9,2328.0,2190.0,Bermuda,Dependent Territory of the UK,Elisabeth II,191.0,BM
24,BTN,Bhutan,Asia,Southern and Central Asia,47000.0,1910.0,2124000,52.4,372.0,383.0,Druk-Yul,Monarchy,Jigme Singye Wangchuk,192.0,BT
25,BOL,Bolivia,South America,South America,1098580.0,1825.0,8329000,63.7,8571.0,7967.0,Bolivia,Republic,Hugo Bánzer Suárez,194.0,BO
26,BIH,Bosnia and Herzegovina,Europe,Southern Europe,51197.0,1992.0,3972000,71.5,2841.0,NaN,Bosna i Hercegovina,Federal Republic,Ante Jelavic,201.0,BA
27,BWA,Botswana,Africa,Southern Africa,581730.0,1966.0,1622000,39.3,4834.0,4935.0,Botswana,Republic,Festus G. Mogae,204.0,BW
28,BRA,Brazil,South America,South America,8547400.0,1822.0,170115000,62.9,776739.0,804108.0,Brasil,Federal Republic,Fernando Henrique Cardoso,211.0,BR
29,GBR,United Kingdom,Europe,British Islands,242900.0,1066.0,59623400,77.7,1378330.0,1296830.0,United Kingdom,Constitutional Monarchy,Elisabeth II,456.0,GB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,TUR,Turkey,Asia,Middle East,774815.0,1923.0,66591000,71.0,210721.0,189122.0,Türkiye,Republic,Ahmet Necdet Sezer,3358.0,TR
210,TKM,Turkmenistan,Asia,Southern and Central Asia,488100.0,1991.0,4459000,60.9,4397.0,2000.0,Türkmenostan,Republic,Saparmurad Nijazov,3419.0,TM
211,TCA,Turks and Caicos Islands,North America,Caribbean,430.0,NaN,17000,73.3,96.0,NaN,The Turks and Caicos Islands,Dependent Territory of the UK,Elisabeth II,3423.0,TC
212,TUV,Tuvalu,Oceania,Polynesia,26.0,1978.0,12000,66.3,6.0,NaN,Tuvalu,Constitutional Monarchy,Elisabeth II,3424.0,TV
213,UGA,Uganda,Africa,Eastern Africa,241038.0,1962.0,21778000,42.9,6313.0,6887.0,Uganda,Republic,Yoweri Museveni,3425.0,UG
214,UKR,Ukraine,Europe,Eastern Europe,603700.0,1991.0,50456000,66.0,42168.0,49677.0,Ukrajina,Republic,Leonid Kutma,3426.0,UA
215,HUN,Hungary,Europe,Eastern Europe,93030.0,1918.0,10043200,71.4,48267.0,45914.0,Magyarország,Republic,Ferenc Mádl,3483.0,HU
216,URY,Uruguay,South America,South America,175016.0,1828.0,3337000,75.2,20831.0,19967.0,Uruguay,Republic,Jorge Batlle Ibáñez,3492.0,UY
217,NCL,New Caledonia,Oceania,Melanesia,18575.0,NaN,214000,72.8,3563.0,NaN,Nouvelle-Calédonie,Nonmetropolitan Territory of France,Jacques Chirac,3493.0,NC
218,NZL,New Zealand,Oceania,Australia and New Zealand,270534.0,1907.0,3862000,77.8,54669.0,64960.0,New Zealand/Aotearoa,Constitutional Monarchy,Elisabeth II,3499.0,NZ
219,UZB,Uzbekistan,Asia,Southern and Central Asia,447400.0,1991.0,24318000,63.7,14194.0,21300.0,Uzbekiston,Republic,Islam Karimov,3503.0,UZ
220,BLR,Belarus,Europe,Eastern Europe,207600.0,1991.0,10236000,68.0,13714.0,NaN,Belarus,Republic,Aljaksandr Lukaenka,3520.0,BY
221,WLF,Wallis and Futuna,Oceania,Polynesia,200.0,NaN,15000,NaN,0.0,NaN,Wallis-et-Futuna,Nonmetropolitan Territory of France,Jacques Chirac,3536.0,WF
222,VUT,Vanuatu,Oceania,Melanesia,12189.0,1980.0,190000,60.6,261.0,246.0,Vanuatu,Republic,John Bani,3537.0,VU
223,VAT,Holy See (Vatican City State),Europe,Southern Europe,0.4,1929.0,1000,NaN,9.0,NaN,Santa Sede/Città del Vaticano,Independent Church State,Johannes Paavali II,3538.0,VA
224,VEN,Venezuela,South America,South America,912050.0,1811.0,24170000,73.1,95023.0,88434.0,Venezuela,Federal Republic,Hugo Chávez Frías,3539.0,VE
225,RUS,Russian Federation,Europe,Eastern Europe,17075400.0,1991.0,146934000,67.2,276608.0,442989.0,Rossija,Federal Republic,Vladimir Putin,3580.0,RU
226,VNM,Vietnam,Asia,Southeast Asia,331689.0,1945.0,79832000,69.3,21929.0,22834.0,Viêt Nam,Socialistic Republic,Trân Duc Luong,3770.0,VN
227,EST,Estonia,Europe,Baltic Countries,45227.0,1991.0,1439200,69.5,5328.0,3371.0,Eesti,Republic,Lennart Meri,3791.0,EE
228,USA,United States,North America,North America,9363520.0,1776.0,278357000,77.1,8510700.0,8110900.0,United States,Federal Republic,George W. Bush,3813.0,US
229,VIR,"Virgin Islands, U.S.",North America,Caribbean,347.0,NaN,93000,78.1,0.0,NaN,Virgin Islands of the United States,US Territory,George W. Bush,4067.0,VI
230,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW
231,PSE,Palestine,Asia,Middle East,6257.0,NaN,3101000,71.4,4173.0,NaN,Filastin,Autonomous Area,Yasser (Yasir) Arafat,4074.0,PS
232,ATA,Antarctica,Antarctica,Antarctica,13120000.0,NaN,0,NaN,0.0,NaN,,Co-administrated,NaN,NaN,AQ
233,BVT,Bouvet Island,Antarctica,Antarctica,59.0,NaN,0,NaN,0.0,NaN,Bouvetøya,Dependent Territory of Norway,Harald V,NaN,BV
234,IOT,British Indian Ocean Territory,Africa,Eastern Africa,78.0,NaN,0,NaN,0.0,NaN,British Indian Ocean Territory,Dependent Territory of the UK,Elisabeth II,NaN,IO
235,SGS,South Georgia and the South Sandwich Islands,Antarctica,Antarctica,3903.0,NaN,0,NaN,0.0,NaN,South Georgia and the South Sandwich Islands,Dependent Territory of the UK,Elisabeth II,NaN,GS
236,HMD,Heard Island and McDonald Islands,Antarctica,Antarctica,359.0,NaN,0,NaN,0.0,NaN,Heard and McDonald Islands,Territory of Australia,Elisabeth II,NaN,HM
237,ATF,French Southern territories,Antarctica,Antarctica,7780.0,NaN,0,NaN,0.0,NaN,Terres australes françaises,Nonmetropolitan Territory of France,Jacques Chirac,NaN,TF
238,UMI,United States Minor Outlying Islands,Oceania,Micronesia/Caribbean,16.0,NaN,0,NaN,0.0,NaN,United States Minor Outlying Islands,Dependent Territory of the US,George W. Bush,NaN,UM

In [4]:
country.head()

,code,name,continent,region,surfacearea,indepyear,population,lifeexpectancy,gnp,gnpold,localname,governmentform,headofstate,capital,code2
0,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
1,NLD,Netherlands,Europe,Western Europe,41526.0,1581.0,15864000,78.3,371362.0,360478.0,Nederland,Constitutional Monarchy,Beatrix,5.0,NL
2,ANT,Netherlands Antilles,North America,Caribbean,800.0,NaN,217000,74.7,1941.0,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Beatrix,33.0,AN
3,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqipëria,Republic,Rexhep Mejdani,34.0,AL
4,DZA,Algeria,Africa,Northern Africa,2381740.0,1962.0,31471000,69.7,49982.0,46966.0,Al-Jazair/Algérie,Republic,Abdelaziz Bouteflika,35.0,DZ

In [6]:
country.head(1)

,code,name,continent,region,surfacearea,indepyear,population,lifeexpectancy,gnp,gnpold,localname,governmentform,headofstate,capital,code2
0,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF

# Relational Algebra: Project

In [8]:
country.project(['name', 'indepyear', 'population']).head()

                   name  indepyear  population
0           Afghanistan     1919.0    22720000
1           Netherlands     1581.0    15864000
2  Netherlands Antilles        NaN      217000
3               Albania     1912.0     3401200
4               Algeria     1962.0    31471000

# Relational Algebra: Select

In [12]:
country.query('indepyear < 1200')

,code,name,continent,region,surfacearea,indepyear,population,lifeexpectancy,gnp,gnpold,localname,governmentform,headofstate,capital,code2
29,GBR,United Kingdom,Europe,British Islands,242900.0,1066.0,59623400,77.7,1378330.0,1296830.0,United Kingdom,Constitutional Monarchy,Elisabeth II,456.0,GB
48,ETH,Ethiopia,Africa,Eastern Africa,1104300.0,-1000.0,62565000,45.2,6353.0,6180.0,YeItyop´iya,Republic,Negasso Gidada,756.0,ET
81,JPN,Japan,Asia,Eastern Asia,377829.0,-660.0,126714000,80.7,3787042.0,4192638.0,Nihon/Nippon,Constitutional Monarchy,Akihito,1532.0,JP
93,CHN,China,Asia,Eastern Asia,9572900.0,-1523.0,1277558000,71.4,982268.0,917719.0,Zhongquo,People'sRepublic,Jiang Zemin,1891.0,CN
159,PRT,Portugal,Europe,Southern Europe,91982.0,1143.0,9997600,75.8,105954.0,102133.0,Portugal,Republic,Jorge Sampãio,2914.0,PT
164,FRA,France,Europe,Western Europe,551500.0,843.0,59225700,78.8,1424285.0,1392448.0,France,Republic,Jacques Chirac,2974.0,FR
170,SWE,Sweden,Europe,Nordic Countries,449964.0,836.0,8861400,79.6,226492.0,227757.0,Sverige,Constitutional Monarchy,Carl XVI Gustaf,3048.0,SE
180,SMR,San Marino,Europe,Southern Europe,61.0,885.0,27000,81.1,510.0,NaN,San Marino,Republic,NaN,3171.0,SM
200,DNK,Denmark,Europe,Nordic Countries,43094.0,800.0,5330000,76.5,174099.0,169264.0,Danmark,Constitutional Monarchy,Margrethe II,3315.0,DK

In [13]:
country.project(['name', 'indepyear']).query('indepyear < 1200')

               name  indepyear
29   United Kingdom     1066.0
48         Ethiopia    -1000.0
81            Japan     -660.0
93            China    -1523.0
159        Portugal     1143.0
164          France      843.0
170          Sweden      836.0
180      San Marino      885.0
200         Denmark      800.0

In [14]:
country.query('indepyear < 1200').project(['name', 'indepyear'])

               name  indepyear
29   United Kingdom     1066.0
48         Ethiopia    -1000.0
81            Japan     -660.0
93            China    -1523.0
159        Portugal     1143.0
164          France      843.0
170          Sweden      836.0
180      San Marino      885.0
200         Denmark      800.0

# Relational Algebra: Sort

In [15]:
country.query('indepyear < 1200').project(['name', 'indepyear']).sort(['indepyear'])

               name  indepyear
93            China    -1523.0
48         Ethiopia    -1000.0
81            Japan     -660.0
200         Denmark      800.0
170          Sweden      836.0
164          France      843.0
180      San Marino      885.0
29   United Kingdom     1066.0
159        Portugal     1143.0

In [17]:
country.query('indepyear < 1200').project(['name', 'indepyear']).sort(['indepyear'], ascending=False)

               name  indepyear
159        Portugal     1143.0
29   United Kingdom     1066.0
180      San Marino      885.0
164          France      843.0
170          Sweden      836.0
200         Denmark      800.0
81            Japan     -660.0
48         Ethiopia    -1000.0
93            China    -1523.0

# SQL: Structured Query Language

# SQL

SQL is the language of database management systems
Database Management System (DBMS) provides:

* efficient
* reliable
* convenient
* safe
* multi-user

storage of and access to massive amounts of persistent data

Many Database management systems are built on the relational model

* Postgresql, MySQL, SQLLITE

Relation == Table

Tuple == Row

In [ ]:
%load_ext sql