# Many to Many Relationships

Think about a Human Resources database for a large company

* Departments
* Employees
* Titles
* Managers
* Salaries

## Basic LDS

![](company_simple.png)

## Eliminating Many-Many relationship

![](company_intermediate.png)

## From Model to Table

```
employees=# \d departments
          Table "public.departments"
  Column   |         Type          | Modifiers
-----------+-----------------------+-----------
 dept_no   | character(4)          | not null
 dept_name | character varying(40) | not null


employees=# \d dept_emp
       Table "public.dept_emp"
  Column   |     Type     | Modifiers
-----------+--------------+-----------
 emp_no    | integer      | not null
 dept_no   | character(4) | not null
 from_date | date         | not null
 to_date   | date         | not null


employees=# \d employees
            Table "public.employees"
   Column   |         Type          | Modifiers
------------+-----------------------+-----------
 emp_no     | integer               | not null
 birth_date | date                  | not null
 first_name | character varying(14) | not null
 last_name  | character varying(16) | not null
 gender     | character varying(1)  | not null
 hire_date  | date                  | not null

```

## The Final LDS

![](company_advanced.png)

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://yasiro01:@localhost/employees

In [ ]:
%%sql

## How many employees currently work in various departments?

In [ ]:
%%sql

1. **Note:** the ``now()`` function is just a convenience for manually entereing the current date
2. **Note:** we can use aggregates without a grouby, realizing that said aggregate applies to the whole result

In [ ]:
%%sql

## Find all managers of the *Marketing* department

In [ ]:
%%sql

## Find *current* manager of every department

In [ ]:
%%sql

## Find all titles within the company

In [ ]:
%%sql

## Question!

Let's start with all the records

In [ ]:
%%sql

## Let's look closer at *Barton Goldhammer*

In [ ]:
%%sql

## Let's find out how *Barton Goldhammer's* salary changed, if at all

In [ ]:
%%sql

## Huh?

## A more specific version of JOIN operator

In [ ]:
%%sql

## What are the min, max, and average salaries per department?

[PostgreSQL: Documentation: 9.5: Data Type Formatting Functions](https://www.postgresql.org/docs/9.5/static/functions-formatting.html)

In [ ]:
%%sql

```
select * from
dept_emp natural join salaries
```

```
emp_no  dept_no from to salary
1       2       X    Y  10
```


```
select * from
dept_emp join salaries on dept_emp.emp_no = salaries.emp_no
```



```
emp_no   dept_no  from_1  to_1 from_2 to_2 salary
1        2        X       Y    X      Y    10
1        3        Y       X    X      Y    10
2        1        X       Y    Y      Z    12

```

## Find the salary history for Holgard Pena

In [ ]:
%%sql

## Find the job title history for Holgard Pena

In [ ]:
%%sql

## Current job title counts per department

In [ ]:
%%sql

## Average salary by job title  - based on current salary and current title

In [ ]:
%%sql

## Who has held the most titles?

In [ ]:
%%sql