# Nested Queries

It is perfectly legal to embed one select statement inside another. In fact, a select statement can be used anywhere a table with a name can be used. Also, queries that return just a single value can be used in a comparison expression.

Selects can be embeded in:

* FROM clause
  * Must have an alias

* WHERE clause

* HAVING clause

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://yasiro01:@localhost/employees

## Naive example

First, lets look at a couple of dumb examples. There is no good reason to use nested queries for this as we can do it easier with a simple join.

Look at the syntax, don't worry about the query result.

In [ ]:
%%sql

select emp_no
from (
    select emp_no, first_name, last_name
    from dept_emp natural join employees
) as foo
limit 10;

In [ ]:
%%sql

select emp_no
from (
    select emp_no, first_name, last_name
    from dept_emp natural join employees
) foo
limit 10;

### Find employees with salary below 39000

Subquery

In [ ]:
%%sql

Subquery and (natural) join

In [ ]:
%%sql

Natural join only

In [ ]:
%%sql

## Extend operation

* Add a column that corresponds to decade

* Add a constant column

Create new column

In [ ]:
%%sql

In [ ]:
%%sql

Find decade

In [ ]:
%%sql

## More questions

### How old was a person at the time of hiring?

In [ ]:
%%sql

### What is the average age at the time of hire?

In [ ]:
%%sql

### Who has held the most titles?

In [ ]:
%%sql

OK, this gives us the emp_no's of the employees with the most.  How can we use this to find the names?

A nested query!

In [ ]:
%%sql

We can even include columns from the nested query in our final result as follows:

In [ ]:
%%sql

### Find all of the emplyees having max count

In [ ]:
%%sql

### Find all employees who have salaries above average

In [ ]:
%%sql

## Super Bonus Query

### Find all employees who have salaries above average for their department

**Not for the faint of heart!!**

First lets figure out the query to calculate the average salary for a dept_no

In [ ]:
%%sql

In [ ]:
%%sql

Notice the foo.dept_no = dept_no in the nested query in the where clause.  This is called a nested correlated query.  Tricky, and they are usually pretty cpu intensive as the inner query must be run for each row of the outer.