# Nested Queries

It is perfectly legal to embed one select statement inside another. In fact, a select statement can be used anywhere a table with a name can be used. Also, queries that return just a single value can be used in a comparison expression.

Selects can be embeded in:

* FROM clause
  * Must have an alias

* WHERE clause

* HAVING clause

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
%load_ext sql

In [3]:
%sql postgresql://yasiro01:@localhost/employees

'Connected: yasiro01@employees'

## Naive example

First, lets look at a couple of dumb examples. There is no good reason to use nested queries for this as we can do it easier with a simple join.

Look at the syntax, don't worry about the query result.

In [4]:
%%sql

select emp_no
from (
    select emp_no, first_name, last_name
    from dept_emp natural join employees
) as foo
limit 10;

10 rows affected.

[(10001,),
 (10002,),
 (10003,),
 (10004,),
 (10005,),
 (10006,),
 (10007,),
 (10008,),
 (10009,),
 (10010,)]

In [7]:
%%sql

select emp_no
from (
    select emp_no, first_name, last_name
    from dept_emp natural join employees
) foo
limit 10;

10 rows affected.

[(10001,),
 (10002,),
 (10003,),
 (10004,),
 (10005,),
 (10006,),
 (10007,),
 (10008,),
 (10009,),
 (10010,)]

### Find employees with salary below 39000

Subquery

In [8]:
%%sql

select first_name, last_name
from employees natural join (
    select emp_no
    from salaries
    where salary < 39000
) as low_sal;

22 rows affected.

[('Monique', 'Reinhard'),
 ('Yurij', 'Narwekar'),
 ('Jacqueline', 'Syang'),
 ('Fumiya', 'Unno'),
 ('Fumiya', 'Unno'),
 ('Vishu', 'Biran'),
 ('Bernd', 'Copas'),
 ('Mechthild', 'Langford'),
 ('Yagil', 'Perri'),
 ('Shahaf', 'England'),
 ('Denny', 'Assaf'),
 ('Pascal', 'Lueh'),
 ('Olivera', 'Baek'),
 ('Gill', 'Rohrbach'),
 ('Matt', 'Munch'),
 ('Chuanyi', 'Kuhnemann'),
 ('Younwoo', 'Champarnaud'),
 ('Sachar', 'Nicolson'),
 ('Christfried', 'Werthner'),
 ('Nahum', 'Nitsche'),
 ('Zhiguo', 'Kobuchi'),
 ('Toshimitsu', 'Yavatkar')]

Subquery and (natural) join

In [9]:
%%sql

22 rows affected.

[('Monique', 'Reinhard'),
 ('Yurij', 'Narwekar'),
 ('Jacqueline', 'Syang'),
 ('Fumiya', 'Unno'),
 ('Fumiya', 'Unno'),
 ('Vishu', 'Biran'),
 ('Bernd', 'Copas'),
 ('Mechthild', 'Langford'),
 ('Yagil', 'Perri'),
 ('Shahaf', 'England'),
 ('Denny', 'Assaf'),
 ('Pascal', 'Lueh'),
 ('Olivera', 'Baek'),
 ('Gill', 'Rohrbach'),
 ('Matt', 'Munch'),
 ('Chuanyi', 'Kuhnemann'),
 ('Younwoo', 'Champarnaud'),
 ('Sachar', 'Nicolson'),
 ('Christfried', 'Werthner'),
 ('Nahum', 'Nitsche'),
 ('Zhiguo', 'Kobuchi'),
 ('Toshimitsu', 'Yavatkar')]

Natural join only

In [10]:
%%sql

select first_name, last_name
from employees natural join salaries
where salary < 39000;

22 rows affected.

[('Monique', 'Reinhard'),
 ('Yurij', 'Narwekar'),
 ('Jacqueline', 'Syang'),
 ('Fumiya', 'Unno'),
 ('Fumiya', 'Unno'),
 ('Vishu', 'Biran'),
 ('Bernd', 'Copas'),
 ('Mechthild', 'Langford'),
 ('Yagil', 'Perri'),
 ('Shahaf', 'England'),
 ('Denny', 'Assaf'),
 ('Pascal', 'Lueh'),
 ('Olivera', 'Baek'),
 ('Gill', 'Rohrbach'),
 ('Matt', 'Munch'),
 ('Chuanyi', 'Kuhnemann'),
 ('Younwoo', 'Champarnaud'),
 ('Sachar', 'Nicolson'),
 ('Christfried', 'Werthner'),
 ('Nahum', 'Nitsche'),
 ('Zhiguo', 'Kobuchi'),
 ('Toshimitsu', 'Yavatkar')]

## Extend operation

* Add a column that corresponds to decade

* Add a constant column

Create new column

In [11]:
%%sql

select date_part('year', hire_date)::integer, hire_date, birth_date
from employees
limit 10;

10 rows affected.

[(1986, datetime.date(1986, 6, 26), datetime.date(1953, 9, 2)),
 (1985, datetime.date(1985, 11, 21), datetime.date(1964, 6, 2)),
 (1986, datetime.date(1986, 8, 28), datetime.date(1959, 12, 3)),
 (1986, datetime.date(1986, 12, 1), datetime.date(1954, 5, 1)),
 (1989, datetime.date(1989, 9, 12), datetime.date(1955, 1, 21)),
 (1989, datetime.date(1989, 6, 2), datetime.date(1953, 4, 20)),
 (1989, datetime.date(1989, 2, 10), datetime.date(1957, 5, 23)),
 (1994, datetime.date(1994, 9, 15), datetime.date(1958, 2, 19)),
 (1985, datetime.date(1985, 2, 18), datetime.date(1952, 4, 19)),
 (1989, datetime.date(1989, 8, 24), datetime.date(1963, 6, 1))]

Find decade

In [13]:
%%sql

select date_part('year', hire_date)::integer/10*10 decade, hire_date, birth_date
from employees
limit 10;

10 rows affected.

[(1980, datetime.date(1986, 6, 26), datetime.date(1953, 9, 2)),
 (1980, datetime.date(1985, 11, 21), datetime.date(1964, 6, 2)),
 (1980, datetime.date(1986, 8, 28), datetime.date(1959, 12, 3)),
 (1980, datetime.date(1986, 12, 1), datetime.date(1954, 5, 1)),
 (1980, datetime.date(1989, 9, 12), datetime.date(1955, 1, 21)),
 (1980, datetime.date(1989, 6, 2), datetime.date(1953, 4, 20)),
 (1980, datetime.date(1989, 2, 10), datetime.date(1957, 5, 23)),
 (1990, datetime.date(1994, 9, 15), datetime.date(1958, 2, 19)),
 (1980, datetime.date(1985, 2, 18), datetime.date(1952, 4, 19)),
 (1980, datetime.date(1989, 8, 24), datetime.date(1963, 6, 1))]

In [14]:
%%sql

select 'hello' greeting, hire_date, birth_date
from employees
limit 10;

10 rows affected.

[('hello', datetime.date(1986, 6, 26), datetime.date(1953, 9, 2)),
 ('hello', datetime.date(1985, 11, 21), datetime.date(1964, 6, 2)),
 ('hello', datetime.date(1986, 8, 28), datetime.date(1959, 12, 3)),
 ('hello', datetime.date(1986, 12, 1), datetime.date(1954, 5, 1)),
 ('hello', datetime.date(1989, 9, 12), datetime.date(1955, 1, 21)),
 ('hello', datetime.date(1989, 6, 2), datetime.date(1953, 4, 20)),
 ('hello', datetime.date(1989, 2, 10), datetime.date(1957, 5, 23)),
 ('hello', datetime.date(1994, 9, 15), datetime.date(1958, 2, 19)),
 ('hello', datetime.date(1985, 2, 18), datetime.date(1952, 4, 19)),
 ('hello', datetime.date(1989, 8, 24), datetime.date(1963, 6, 1))]

# Union operation

Concatenate 2 tables

In [17]:
%%sql

select emp_no, first_name
from employees
where first_name = 'Laurentiu' and last_name = 'Cesareni'

5 rows affected.

[(22951, 'Laurentiu'),
 (63501, 'Laurentiu'),
 (65457, 'Laurentiu'),
 (70885, 'Laurentiu'),
 (278938, 'Laurentiu')]

In [18]:
%%sql

select emp_no, first_name
from employees
where first_name = 'Yonghong' and last_name = 'Codenie'

4 rows affected.

[(30256, 'Yonghong'),
 (77535, 'Yonghong'),
 (252255, 'Yonghong'),
 (449487, 'Yonghong')]

In [19]:
%%sql

select emp_no, first_name
from employees
where (first_name = 'Laurentiu' and last_name = 'Cesareni') or (first_name = 'Yonghong' and last_name = 'Codenie')

9 rows affected.

[(22951, 'Laurentiu'),
 (30256, 'Yonghong'),
 (63501, 'Laurentiu'),
 (65457, 'Laurentiu'),
 (70885, 'Laurentiu'),
 (77535, 'Yonghong'),
 (252255, 'Yonghong'),
 (278938, 'Laurentiu'),
 (449487, 'Yonghong')]

In [25]:
%%sql

select emp_no, first_name
from employees
where first_name = 'Laurentiu' and last_name = 'Cesareni'
union
select emp_no, first_name
from employees
where first_name = 'Yonghong' and last_name = 'Codenie'

9 rows affected.

[(22951, 'Laurentiu'),
 (30256, 'Codenie'),
 (63501, 'Laurentiu'),
 (65457, 'Laurentiu'),
 (70885, 'Laurentiu'),
 (77535, 'Codenie'),
 (252255, 'Codenie'),
 (278938, 'Laurentiu'),
 (449487, 'Codenie')]

# Except operation

In [27]:
%%sql

select first_name
from employees
where last_name = 'Cesareni'

208 rows affected.

[('Karoline',),
 ('Marke',),
 ('Shuji',),
 ('Zhigen',),
 ('Vishu',),
 ('Hongzue',),
 ('Stein',),
 ('Gino',),
 ('Conor',),
 ('Tran',),
 ('Yannis',),
 ('Laurentiu',),
 ('Kien',),
 ('Arunas',),
 ('Zhigen',),
 ('Hirochika',),
 ('Gal',),
 ('Chiradeep',),
 ('Xiahua',),
 ('Divine',),
 ('Bokyung',),
 ('Tuval',),
 ('Xumin',),
 ('Isamu',),
 ('Kristen',),
 ('Elvia',),
 ('Eran',),
 ('Subir',),
 ('Val',),
 ('Leon',),
 ('Bojan',),
 ('Martins',),
 ('Samphel',),
 ('Surveyors',),
 ('Behnaam',),
 ('Taizo',),
 ('Vitaly',),
 ('Chirstian',),
 ('Xiaoshan',),
 ('Sven',),
 ('Xiaoheng',),
 ('Laurentiu',),
 ('Laurentiu',),
 ('Marjo',),
 ('Mansur',),
 ('Cullen',),
 ('Aron',),
 ('Laurentiu',),
 ('Kasturi',),
 ('Shuho',),
 ('Kshitij',),
 ('Geoffrey',),
 ('Pragnesh',),
 ('Kwee',),
 ('Duri',),
 ('Kristine',),
 ('Jahangir',),
 ('Lakshmi',),
 ('Horward',),
 ('Remmert',),
 ('Kenton',),
 ('Wilmer',),
 ('Flemming',),
 ('Guangming',),
 ('Sergi',),
 ('Aran',),
 ('Woody',),
 ('Niclas',),
 ('Koichi',),
 ('Dante',),
 ('Shaowen',),
 ('Yishai',),
 ('Sadok',),
 ('Heeju',),
 ('Mikhail',),
 ('Beshir',),
 ('Vishwani',),
 ('Augustine',),
 ('Saeed',),
 ('Howell',),
 ('Subhankar',),
 ('Sandeepan',),
 ('Seshu',),
 ('Valeska',),
 ('Yuchang',),
 ('Weiye',),
 ('Koldo',),
 ('Genta',),
 ('Neven',),
 ('Murthy',),
 ('Lene',),
 ('Souichi',),
 ('Chuanti',),
 ('Bernt',),
 ('Tzu',),
 ('Etsuo',),
 ('Teruyuki',),
 ('Roddy',),
 ('Hongzue',),
 ('Tomofumi',),
 ('Sedat',),
 ('Feixiong',),
 ('Charmane',),
 ('Jasminko',),
 ('Padma',),
 ('Toshimori',),
 ('Phuoc',),
 ('Rosalie',),
 ('Youssef',),
 ('Eric',),
 ('Huican',),
 ('Yagil',),
 ('Tetsushi',),
 ('Pramod',),
 ('Remmert',),
 ('Tomofumi',),
 ('Gennady',),
 ('Zhonghua',),
 ('Pranay',),
 ('Joydip',),
 ('IEEE',),
 ('Moti',),
 ('Luerbio',),
 ('Laurentiu',),
 ('Makato',),
 ('Lubomir',),
 ('Hatem',),
 ('Dipankar',),
 ('Steen',),
 ('Toshimi',),
 ('Ung',),
 ('Jouni',),
 ('Phuoc',),
 ('Candido',),
 ('Kerryn',),
 ('Gal',),
 ('Francoise',),
 ('Susanne',),
 ('Georgy',),
 ('Horward',),
 ('Larisa',),
 ('Pranas',),
 ('Saeed',),
 ('Chinho',),
 ('Nakhoon',),
 ('Vishv',),
 ('Girolamo',),
 ('Shugo',),
 ('Sushant',),
 ('Adhemar',),
 ('Conrado',),
 ('Rafael',),
 ('Eishiro',),
 ('Thodoros',),
 ('Leucio',),
 ('Rosine',),
 ('Shahab',),
 ('Mechthild',),
 ('Ger',),
 ('Vasiliy',),
 ('Jacopo',),
 ('Mana',),
 ('Horward',),
 ('Shigenori',),
 ('Sungwon',),
 ('Mansur',),
 ('Irena',),
 ('Eishiro',),
 ('Susumu',),
 ('Yagil',),
 ('Karoline',),
 ('Tonia',),
 ('Yongmin',),
 ('Domenico',),
 ('Maris',),
 ('Salvador',),
 ('Lucian',),
 ('Hatim',),
 ('Arvind',),
 ('Hatim',),
 ('Remco',),
 ('Yoshinari',),
 ('Khosrow',),
 ('Sushant',),
 ('Xianlong',),
 ('Yuguang',),
 ('Shigeo',),
 ('Hidefumi',),
 ('Miomir',),
 ('Mototsugu',),
 ('Sudhanshu',),
 ('Mabry',),
 ('Siddarth',),
 ('Leon',),
 ('Eldridge',),
 ('Jaber',),
 ('Maha',),
 ('Lene',),
 ('Maya',),
 ('Hidefumi',),
 ('Volkmar',),
 ('Vincent',),
 ('Zijian',),
 ('Rildo',),
 ('Fun',),
 ('Munehiko',),
 ('Vojin',),
 ('Amabile',)]

In [29]:
%%sql

select first_name, count(*)
from employees
where last_name = 'Cesareni'
group by first_name
order by count desc;

186 rows affected.

[('Laurentiu', 5),
 ('Horward', 3),
 ('Karoline', 2),
 ('Phuoc', 2),
 ('Eishiro', 2),
 ('Hongzue', 2),
 ('Saeed', 2),
 ('Hatim', 2),
 ('Remmert', 2),
 ('Yagil', 2),
 ('Hidefumi', 2),
 ('Lene', 2),
 ('Gal', 2),
 ('Sushant', 2),
 ('Tomofumi', 2),
 ('Leon', 2),
 ('Mansur', 2),
 ('Zhigen', 2),
 ('Geoffrey', 1),
 ('Subir', 1),
 ('Shaowen', 1),
 ('Shigenori', 1),
 ('Weiye', 1),
 ('Pranas', 1),
 ('Yuchang', 1),
 ('Maris', 1),
 ('Maha', 1),
 ('Padma', 1),
 ('Adhemar', 1),
 ('Stein', 1),
 ('Toshimori', 1),
 ('Marke', 1),
 ('Sudhanshu', 1),
 ('Xiaoshan', 1),
 ('Kwee', 1),
 ('Xiaoheng', 1),
 ('Vasiliy', 1),
 ('Dipankar', 1),
 ('Feixiong', 1),
 ('Etsuo', 1),
 ('Zhonghua', 1),
 ('Luerbio', 1),
 ('Gino', 1),
 ('Flemming', 1),
 ('Koldo', 1),
 ('Val', 1),
 ('Jouni', 1),
 ('Susumu', 1),
 ('Kien', 1),
 ('Taizo', 1),
 ('Irena', 1),
 ('Koichi', 1),
 ('Sadok', 1),
 ('Marjo', 1),
 ('Tonia', 1),
 ('Vitaly', 1),
 ('Woody', 1),
 ('Miomir', 1),
 ('Susanne', 1),
 ('Georgy', 1),
 ('Murthy', 1),
 ('Kenton', 1),
 ('Wilmer', 1),
 ('Conrado', 1),
 ('Bokyung', 1),
 ('Nakhoon', 1),
 ('Candido', 1),
 ('Khosrow', 1),
 ('Duri', 1),
 ('IEEE', 1),
 ('Steen', 1),
 ('Thodoros', 1),
 ('Toshimi', 1),
 ('Kristine', 1),
 ('Aran', 1),
 ('Yishai', 1),
 ('Munehiko', 1),
 ('Tran', 1),
 ('Ger', 1),
 ('Shigeo', 1),
 ('Niclas', 1),
 ('Augustine', 1),
 ('Sergi', 1),
 ('Elvia', 1),
 ('Howell', 1),
 ('Shahab', 1),
 ('Fun', 1),
 ('Joydip', 1),
 ('Souichi', 1),
 ('Rosalie', 1),
 ('Genta', 1),
 ('Mabry', 1),
 ('Tuval', 1),
 ('Huican', 1),
 ('Makato', 1),
 ('Shuji', 1),
 ('Yoshinari', 1),
 ('Neven', 1),
 ('Heeju', 1),
 ('Larisa', 1),
 ('Rafael', 1),
 ('Volkmar', 1),
 ('Arunas', 1),
 ('Youssef', 1),
 ('Xianlong', 1),
 ('Eric', 1),
 ('Francoise', 1),
 ('Rosine', 1),
 ('Vishu', 1),
 ('Mikhail', 1),
 ('Tetsushi', 1),
 ('Lubomir', 1),
 ('Xumin', 1),
 ('Conor', 1),
 ('Sandeepan', 1),
 ('Charmane', 1),
 ('Yongmin', 1),
 ('Salvador', 1),
 ('Yannis', 1),
 ('Amabile', 1),
 ('Bojan', 1),
 ('Tzu', 1),
 ('Hatem', 1),
 ('Chirstian', 1),
 ('Remco', 1),
 ('Yuguang', 1),
 ('Kerryn', 1),
 ('Vojin', 1),
 ('Domenico', 1),
 ('Vishv', 1),
 ('Guangming', 1),
 ('Beshir', 1),
 ('Jasminko', 1),
 ('Shuho', 1),
 ('Aron', 1),
 ('Surveyors', 1),
 ('Sungwon', 1),
 ('Zijian', 1),
 ('Jaber', 1),
 ('Jacopo', 1),
 ('Arvind', 1),
 ('Xiahua', 1),
 ('Roddy', 1),
 ('Ung', 1),
 ('Girolamo', 1),
 ('Leucio', 1),
 ('Rildo', 1),
 ('Subhankar', 1),
 ('Eldridge', 1),
 ('Lucian', 1),
 ('Hirochika', 1),
 ('Vincent', 1),
 ('Chuanti', 1),
 ('Cullen', 1),
 ('Lakshmi', 1),
 ('Mechthild', 1),
 ('Maya', 1),
 ('Behnaam', 1),
 ('Jahangir', 1),
 ('Dante', 1),
 ('Gennady', 1),
 ('Eran', 1),
 ('Isamu', 1),
 ('Kristen', 1),
 ('Kshitij', 1),
 ('Vishwani', 1),
 ('Sedat', 1),
 ('Moti', 1),
 ('Chiradeep', 1),
 ('Pragnesh', 1),
 ('Kasturi', 1),
 ('Pranay', 1),
 ('Shugo', 1),
 ('Siddarth', 1),
 ('Mototsugu', 1),
 ('Seshu', 1),
 ('Samphel', 1),
 ('Mana', 1),
 ('Divine', 1),
 ('Valeska', 1),
 ('Martins', 1),
 ('Bernt', 1),
 ('Teruyuki', 1),
 ('Pramod', 1),
 ('Chinho', 1),
 ('Sven', 1)]

In [33]:
%%sql

select emp_no, first_name
from employees
where last_name = 'Cesareni'
except
select emp_no, first_name
from employees
where first_name = 'Laurentiu';

203 rows affected.

[(242827, 'Padma'),
 (426922, 'Leucio'),
 (30250, 'Chiradeep'),
 (265650, 'Pramod'),
 (51015, 'Surveyors'),
 (88566, 'Wilmer'),
 (263433, 'Yagil'),
 (462860, 'Remco'),
 (40561, 'Kristen'),
 (469650, 'Mototsugu'),
 (234391, 'Hongzue'),
 (429935, 'Ger'),
 (72353, 'Kshitij'),
 (469657, 'Sudhanshu'),
 (494409, 'Munehiko'),
 (448405, 'Eishiro'),
 (96665, 'Niclas'),
 (56561, 'Chirstian'),
 (68573, 'Mansur'),
 (214989, 'Genta'),
 (10228, 'Karoline'),
 (84161, 'Remmert'),
 (426206, 'Eishiro'),
 (267392, 'Tomofumi'),
 (427018, 'Rosine'),
 (216484, 'Neven'),
 (268057, 'Gennady'),
 (288667, 'Ung'),
 (452344, 'Yongmin'),
 (283846, 'Hatem'),
 (82922, 'Horward'),
 (275885, 'IEEE'),
 (297470, 'Candido'),
 (491177, 'Rildo'),
 (254852, 'Eric'),
 (24442, 'Arunas'),
 (428726, 'Mechthild'),
 (472798, 'Mabry'),
 (212917, 'Weiye'),
 (226632, 'Bernt'),
 (450882, 'Karoline'),
 (41298, 'Elvia'),
 (485282, 'Volkmar'),
 (239669, 'Charmane'),
 (295732, 'Jouni'),
 (250273, 'Rosalie'),
 (71552, 'Shuho'),
 (474149, 'Leon'),
 (33637, 'Bokyung'),
 (415649, 'Shugo'),
 (497566, 'Vojin'),
 (72956, 'Geoffrey'),
 (23748, 'Kien'),
 (13388, 'Shuji'),
 (410658, 'Nakhoon'),
 (412747, 'Vishv'),
 (454206, 'Domenico'),
 (460441, 'Hatim'),
 (69883, 'Cullen'),
 (280444, 'Makato'),
 (55984, 'Vitaly'),
 (109456, 'Augustine'),
 (455923, 'Salvador'),
 (440575, 'Mana'),
 (204940, 'Howell'),
 (441440, 'Horward'),
 (494138, 'Fun'),
 (102821, 'Sadok'),
 (20143, 'Conor'),
 (214465, 'Koldo'),
 (270202, 'Zhonghua'),
 (14152, 'Vishu'),
 (424842, 'Rafael'),
 (21818, 'Tran'),
 (261639, 'Huican'),
 (15454, 'Hongzue'),
 (99384, 'Shaowen'),
 (276608, 'Moti'),
 (403843, 'Larisa'),
 (476837, 'Jaber'),
 (400475, 'Gal'),
 (54949, 'Taizo'),
 (17139, 'Stein'),
 (236308, 'Tomofumi'),
 (407183, 'Chinho'),
 (95166, 'Woody'),
 (10522, 'Marke'),
 (426359, 'Thodoros'),
 (464998, 'Sushant'),
 (47861, 'Martins'),
 (475014, 'Eldridge'),
 (18296, 'Gino'),
 (456260, 'Lucian'),
 (226545, 'Chuanti'),
 (278115, 'Luerbio'),
 (282868, 'Lubomir'),
 (13637, 'Zhigen'),
 (92404, 'Sergi'),
 (105152, 'Mikhail'),
 (53682, 'Behnaam'),
 (402998, 'Horward'),
 (469606, 'Miomir'),
 (81808, 'Lakshmi'),
 (456388, 'Hatim'),
 (221476, 'Murthy'),
 (81030, 'Kristine'),
 (222274, 'Lene'),
 (402729, 'Georgy'),
 (70650, 'Aron'),
 (480464, 'Maha'),
 (463158, 'Yoshinari'),
 (271492, 'Pranay'),
 (105919, 'Beshir'),
 (89905, 'Flemming'),
 (81787, 'Jahangir'),
 (47716, 'Bojan'),
 (80477, 'Kwee'),
 (465328, 'Xianlong'),
 (431736, 'Vasiliy'),
 (466025, 'Yuguang'),
 (402554, 'Susanne'),
 (272016, 'Joydip'),
 (91428, 'Guangming'),
 (249683, 'Phuoc'),
 (39196, 'Isamu'),
 (205344, 'Sandeepan'),
 (482137, 'Maya'),
 (454665, 'Maris'),
 (65645, 'Marjo'),
 (46963, 'Val'),
 (442818, 'Sungwon'),
 (103498, 'Heeju'),
 (94416, 'Aran'),
 (32327, 'Divine'),
 (418295, 'Adhemar'),
 (421227, 'Conrado'),
 (286308, 'Steen'),
 (226659, 'Tzu'),
 (404437, 'Saeed'),
 (228579, 'Teruyuki'),
 (295870, 'Phuoc'),
 (80693, 'Duri'),
 (224676, 'Souichi'),
 (242764, 'Jasminko'),
 (449975, 'Susumu'),
 (490442, 'Zijian'),
 (47118, 'Leon'),
 (205270, 'Subhankar'),
 (22522, 'Yannis'),
 (459682, 'Arvind'),
 (85442, 'Kenton'),
 (415401, 'Girolamo'),
 (206349, 'Seshu'),
 (207340, 'Valeska'),
 (77155, 'Pragnesh'),
 (467967, 'Hidefumi'),
 (232906, 'Roddy'),
 (404036, 'Pranas'),
 (227225, 'Etsuo'),
 (428065, 'Shahab'),
 (34106, 'Tuval'),
 (451716, 'Tonia'),
 (204787, 'Saeed'),
 (444208, 'Irena'),
 (284664, 'Dipankar'),
 (463711, 'Khosrow'),
 (46032, 'Eran'),
 (247569, 'Toshimori'),
 (31285, 'Xiahua'),
 (97978, 'Koichi'),
 (107768, 'Vishwani'),
 (209255, 'Yuchang'),
 (473478, 'Siddarth'),
 (450354, 'Yagil'),
 (62263, 'Sven'),
 (298322, 'Kerryn'),
 (439135, 'Jacopo'),
 (288439, 'Toshimi'),
 (265096, 'Tetsushi'),
 (482906, 'Hidefumi'),
 (481715, 'Lene'),
 (25448, 'Hirochika'),
 (46646, 'Subir'),
 (441773, 'Shigenori'),
 (237182, 'Feixiong'),
 (466284, 'Shigeo'),
 (99784, 'Yishai'),
 (486625, 'Vincent'),
 (35928, 'Xumin'),
 (58125, 'Xiaoshan'),
 (499722, 'Amabile'),
 (237085, 'Sedat'),
 (443365, 'Mansur'),
 (266646, 'Remmert'),
 (25018, 'Zhigen'),
 (418225, 'Sushant'),
 (71156, 'Kasturi'),
 (251891, 'Youssef'),
 (98427, 'Dante'),
 (29798, 'Gal'),
 (62841, 'Xiaoheng'),
 (50184, 'Samphel'),
 (400858, 'Francoise')]

## More questions

### How old was a person at the time of hiring?

In [37]:
%%sql

select (hire_date - birth_date)/365 as age
from employees
limit 10;

10 rows affected.

[(32,), (21,), (26,), (32,), (34,), (36,), (31,), (36,), (32,), (26,)]

### What is the average age at the time of hire?

In [40]:
%%sql

select count(*)
from employees;

1 rows affected.

[(300024,)]

In [39]:
%%sql

select avg(hire_age)
from (
    select (hire_date - birth_date)/365 as hire_age
    from employees
) foo;

1 rows affected.

[(Decimal('31.0186751726528544'),)]

### Who has held the most titles?

In [44]:
%%sql

select emp_no, count(*)
from titles
group by emp_no
order by count desc
limit 10;

10 rows affected.

[(10571, 3),
 (10634, 3),
 (10258, 3),
 (10451, 3),
 (10612, 3),
 (10628, 3),
 (10066, 3),
 (10009, 3),
 (11027, 3),
 (11003, 3)]

OK, this gives us the emp_no's of the employees with the most.  How can we use this to find the names?

A nested query!

In [46]:
%%sql

select first_name, last_name
from employees natural join (
    select emp_no, count(*)
    from titles
    group by emp_no
    order by count desc
    limit 10
) a;

10 rows affected.

[('Fun', 'Varman'),
 ('Nahid', 'Chepyzhov'),
 ('Basil', 'Ishibashi'),
 ('Bodh', 'Ranta'),
 ('Gil', 'Peroz'),
 ('Krisda', 'Krogh'),
 ('Kwee', 'Schusler'),
 ('Sumant', 'Peac'),
 ('Remzi', 'Cappello'),
 ('Mariangiola', 'Gulla')]

We can even include columns from the nested query in our final result as follows:

In [ ]:
%%sql

### Find all of the emplyees having max count

In [ ]:
%%sql

### Find all employees who have salaries above average

In [ ]:
%%sql

## Super Bonus Query

### Find all employees who have salaries above average for their department

**Not for the faint of heart!!**

First lets figure out the query to calculate the average salary for a dept_no

In [ ]:
%%sql

In [ ]:
%%sql

Notice the foo.dept_no = dept_no in the nested query in the where clause.  This is called a nested correlated query.  Tricky, and they are usually pretty cpu intensive as the inner query must be run for each row of the outer.