# Final Exam

* Many-to-many relationships

* Joining tables

* Nested queries

## Quiz 2

In [ ]:
from reframe import Relation

r3 = Relation('/home/faculty/yasiro01/pub/R3.csv', sep=',')
r4 = Relation('/home/faculty/yasiro01/pub/R4.csv', sep=',')

place = Relation('/home/faculty/yasiro01/pub/place.csv', sep=',')
animal = Relation('/home/faculty/yasiro01/pub/animal.csv', sep=',')

In [ ]:
r3

In [ ]:
r4

### Simple operations

#### Union

#### Except

#### Natural Join

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Uncomment these lines to create a table in **your** database

#conn = create_engine('postgresql://yasiro01@localhost/yasiro01')
#pd.read_csv('/home/faculty/yasiro01/pub/animal.csv', sep=',').to_sql('animal', conn)
#pd.read_csv('/home/faculty/yasiro01/pub/place.csv', sep=',').to_sql('place', conn)

In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://yasiro01:@localhost/yasiro01

### Draw a table resulting from the following query:
```
select animal.name, species, place.location
from animal natural join place
where species = 'Newt'
order by place.name;
```

In [ ]:
%%sql

### Write a SQL query that finds all animals residing in winter locations.

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

### Write a relational algebra query that finds all animals residing in winter locations.

### Write a SQL query that finds all locations filled at 50% (or more) of their capacity.

In [ ]:
%%sql

In [ ]:
%%sql