In [ ]:
from reframe import Relation

animal = Relation('/home/faculty/yasiro01/pub/animal.csv', sep=',')

In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://yasiro01:@localhost/yasiro01

In [ ]:
animal

In [ ]:
animal.groupby(['location'])

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

#conn = create_engine('postgresql://yasiro01@localhost/yasiro01')
#pd.read_csv('/home/faculty/yasiro01/pub/animal.csv', sep=',').to_sql('animal', conn)

In [ ]:
%%sql

select *
from animal

## Draw a table resulting from the following query:

```
animal.project([“species”])
```

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

## Draw a table resulting from the following query:
    
```
animal.query(“age > 70”).project([“name”, “location”])
```

## Draw a table resulting from the following query:

```
select name, age
from animal
where location = ‘Basement’
order by age desc;
```

In [ ]:
%%sql

## Write a relational algebra query that displays number of animals by location.

## Write a SQL query that displays average age of animals by species.

In [ ]:
%%sql

In [ ]:
%%sql

## Write a SQL query that displays all penguins in the zoo.

In [ ]:
%%sql

## Write a SQL query to insert a new record into the animal table.

In [ ]:
%%sql

In [ ]:
%%sql

## Write a SQL query to delete all newts from the animal table.

In [ ]:
%%sql

In [ ]:
%%sql

select *
from animal

In [ ]:
%%sql

In [ ]:
%%sql